    body{
        margin: 0%;
        font-family: 'Alata', sans-serif;}
    h1{font-size: 50px;}
    .orangered{
        color: orangered;}
    .half-width{
    width: 40%;
    float: left;
    margin: 5px;
    padding: 2px;
}
.half-width img{width: 100%;}
.top-banner{background-image: url("developer-portfolio/top-banner.png");
background-repeat: no-repeat;}
section{height: 500px;}