body
{
    margin: auto;
    font-family: 'Alata', sans-serif;
font-family: 'Koulen', cursive;
font-family: 'Staatliches', cursive;     
}
div
{
    margin: 20px;
}
h1
{
    margin: 0%;
    font-weight: 600;
    font-size: 4rem;
}
h2
{
    margin: 0%;
}
h3
{
    font-weight: lighter;
    margin: 0%;
}
section {
    display: flex;
    flex-wrap: wrap;
}  
.txtblue
{
    color: blue;
}
.half-width
{
box-sizing: border-box;
    width: 40%;
    float: left;
    margin: 5px;
    padding: 2px;
}
.half-width img
{
    width: 90%;
    margin: 0%;
}
.custommrg
{
    margin-left: 15rem;
    margin-top: 15rem;
}
.custommrg2
{
    text-align: center;
}
.custommrg3
{
    margin: 3rem;
}
.custommrg4
{
    margin: 3rem;
    text-align: center;
}
.custommrg5
{
    margin-bottom: 5rem;
    text-align: center;
}
.logo
{
    margin-top: 1rem;
    margin-left: 3rem;
}
.logo img
{
    width: 10rem;
}
.top-banner
{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
}
.mid-banner
{
    background-image: url("image/mid-bg.png");
    background-repeat: no-repeat;
}
.last-banner
{
    background-image: url("image/last-bg.png");
    background-repeat: no-repeat;
}
.contact-banner
{
    background-image: url("image/contact-bg.png");
    background-repeat: no-repeat;
}
.link-button
{
    margin: 0%;
    text-decoration: none;
    background-image: linear-gradient(120deg, rgb(38, 24, 237), rgb(19, 121, 237));
    padding: 10px 18px 10px 18px;
    border-radius: 6px;
    color: white;
    font-weight: 100;
}
.contact-button
{
    margin: 0%;
    text-decoration: none;
    background-image: linear-gradient(120deg, rgb(38, 24, 237), rgb(19, 121, 237));
    padding: 3rem 10rem 3rem 10rem;
    border-radius: 10px;
    color: white;
    font-weight: 100;
    font-size: larger;
}
footer 
{
    text-align: center;
    color: grey;
    padding-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .half-width {
        width: 100%;
    }

    .custommrg {
        margin-left: 1rem;
        margin-top: 1rem;
    }
}